.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left {
  float: left;
  width: 10%;
  padding: 5px;
}

.right {
  float: right;
  width: 10%;
  padding: 5px;
}

.rborder {
  border-width:5px;
  border-style:dotted;
}
