.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left {
  float: left;
  width: 30%;
  padding: 10px;
}

.right {
  float: right;
  width: 30%;
  padding: 10px;
}
