.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left {
  float: left;
  width: 33.33%;
  padding: 50px;
}

.right {
  float: right;
  width: 33.33%;
  padding: 50px;
}


.right {
  float: left;
  width: 33.33%;
  padding: 50px;
}

.rborder {
  border-radius: 25px;
  border: 2px dotted #0000AA;
  padding: 20px;
  width: 200px;
  height: 150px;
}
